<div class="card">
    <div class="card-body">
        <div
        *ngIf="!feedbackItem.isCompleted; else completed">
            <div class="alert alert-warning d-flex align-items-center">
             <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Запись#{{ feedbackItem.id }}
                </div>
            </div>
        </div>
        <p class="card-text">{{ feedbackItem.text }}</p>
        <button class="btn btn-light"
        [routerLink]="['/feedback', feedbackItem.id]"
        >Рассмотреть запись</button>
        <button class="btn btn-light">Пометить выполненым</button>
        <p class="p-date">Дата обращения: {{ feedbackItem.date | date:'medium': 'null': 'ru'}}</p>
    </div>
</div>

<ng-template #completed>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            Запись#{{ feedbackItem.id }}
        </div>
      </div>
</ng-template>